/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */

 * {
  /* 
  -May want to add "border-box for "box-sizing so padding does not affect width
  -Reset margin and padding 
 */
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
}

body {
  /* 
    -Background color is #344a72
  */
  background-color: #344a72;
  line-height: 1.8;
  font-family: Raleway,sans-serif;
}

a {
  /* 
  Underlined links are ugly :)
 */
 text-decoration: none;
}

#container {
  /* 
  -Remember, margin: auto on left and right will center a block element 
  -I would also set a "max-width" for responsiveness
  -May want to add some padding
  */
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  
}

.form-wrap {
  /* 
    This is the white area around the form and heading, etc
  */
  background-color: white;
  padding: 20px;
  
}

.form-wrap h1,
.form-wrap p {
  /* 
    May want to center these
  */
  text-align: center;
}

.form-wrap .form-group {
  /* 
    Each label, input is wrapped in .form-group
  */
   margin-top: 10px;

}

.form-wrap .form-group label {
  /* 
    Label should be turned into a block element
  */
  display: block;

}

.form-wrap .form-group input {
  /* 
    Inputs should reach accross the .form-wrap 100% and have some padding
  */
  width: 100%;
  padding: 4px;

}

.form-wrap button {
  /* 
    Button should wrap accross 100% and display as block
    Background color for button is #49c1a2
  */
  background-color: #49c1a2;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

.form-wrap button:hover {
  /* 
    Hover background color for button is #37a08e

  */
  background-color: #37a08e;
}

.form-wrap .bottom-text {
  /* 
    Bottom text is smaller
  */
  margin-top: 10px;
  font-size: 12px;

  
}

footer {
  /* 
  Should be centered
 */
 text-align: center;
 color: white;
}

footer a {
  /* 
    Footer link color is #49c1a2
  */
  color: #49c1a2;
}
